/* Cores */
.bg-azul {
  background-color: rgb(0, 154, 222)
}
.bg-magenta {
  background-color: rgb(236, 0, 128)
}
.bg-amarelo {
  background-color: rgb(255, 234, 0)
}
.bg-cinza {
  background-color: rgb(76, 76, 76)
}
.bg-preto {
  background-color: rgb(0, 0, 0)
}
.bg-branco {
  background-color: rgb(255, 255, 255)
}

.text-azul {
  color: rgb(0, 154, 222)
}
.text-magenta {
  color: rgb(236, 0, 128)
}
.text-amarelo {
  color: rgb(255, 234, 0)
}
.text-cinza {
  color: rgb(76, 76, 76)
}
.text-preto {
  color: rgb(0, 0, 0)
}
.text-branco {
  color: rgb(255, 255, 255)
}

/* Fonts */
@font-face {
  font-family: 'Cartoon-Slam';
  src: url('/assets/fonts/Cartoon-Slam.ttf');
  src: url('/assets/fonts/Cartoon-Slam.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HorsebackSlab-Bold';
  src: url('/assets/fonts/HorsebackSlab-Bold.ttf');
  src: url('/assets/fonts/HorsebackSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Whitney-Medium';
  src: url('/assets/fonts/Whitney-Medium.ttf');
  src: url('/assets/fonts/Whitney-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
 font-family: "HorsebackSlab-Bold";
}

h2, h3, h4, h5, h6, p {
  font-family: "Whitney-Medium";
}

.logo {
  width: 180px;
  height: 150px;
  margin-top: -50px;
}

nav {
  height: 60px;
}

nav .form-inline {
  margin-top: -50px;
  margin-right: 20px;
}

.publicidadeLateral {
  transform: rotate(270deg);
  padding: 70px 0 0 0;
}

.publicidadeLateral h6 {
  font-size: 10px;
}

.linhaCards {
  height: 50px;
}

.borderTopAmarela {
  border-top: 8px solid rgb(255, 234, 0);
}

/* Cards Horarios */
.containerFlex {
  display: flex;
  justify-content: center;
  max-width: 650px;
  flex-wrap: wrap;
}

.cardsHorarios {
  height: 100px;
  max-width: 120px;
  padding: 10px;
  text-align: center;
  margin: 0 2px 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardsHorarios h2 {
  font-family: "HorsebackSlab-Bold";
  font-weight: 900;
  text-transform: lowercase;
  margin: 0px;
}

/* Coluna Cards */
.colunaCards {
  margin-top: -516px;
  margin-left: auto;
  padding-bottom: 4px;
}

.colunaItem {
  max-height: 100px;
  min-height: 100px;
  margin: 4px 2px 4px 2px;
  
  display: flex;
  align-items: center;
  justify-content: start;
}

.colunaItem h2 {
  font-family: "HorsebackSlab-Bold";
  font-weight: 900;
  min-height: 33px;
  width: 68px;
  display: flex;
  justify-content: center;
  margin-left: -10px;
  margin-bottom: 0px;
}

.cardHora {
  position: relative; 
  height: 100px; 
  margin: 0px 2px 0px 2px; 
  padding: 0px 0px 0px 2px;
}

.cardHora h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.colunaCards h1 {
  justify-content: center;
}

.colunaCards h2 {
  transform: rotate(270deg);
  /* width: 68px;
  height: 68px; */
}

.colunaCards h4 {
  margin: 0px;
}

.colunaCards img {
  max-height: 80px;
  margin-right: 15px;
}



.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.space-evenly { 
  justify-content: space-evenly; 
}

.flex-item {
  width: 60px;
  height: 50px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

/* Btn Azul */
.btn-azul {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.btn-azul:hover {
  background-color: rgba(0, 154, 222);
}

.btn-azul:not(:disabled):not(.disabled).active, .btn-azul:not(:disabled):not(.disabled):active, .show>.btn-azul.dropdown-toggle {
  color: rgba(0, 154, 222);
  background-color: rgb(0, 0, 0);
  border-color: #4e555b;
}

/* Btn Magenta */
.btn-magenta {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.btn-magenta:hover {
  background-color: rgb(236, 0, 128);
}

.btn-magenta:not(:disabled):not(.disabled).active, .btn-magenta:not(:disabled):not(.disabled):active, .show>.btn-magenta.dropdown-toggle {
  color: rgb(236, 0, 128);
  background-color: rgb(0, 0, 0);
  border-color: #4e555b;
}

/* Btn Amarelo */
.btn-amarelo {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.btn-amarelo:hover {
  background-color: rgb(255, 234, 0);
}

.btn-amarelo:not(:disabled):not(.disabled).active, .btn-amarelo:not(:disabled):not(.disabled):active, .show>.btn-amarelo.dropdown-toggle {
  color: rgb(255, 234, 0);
  background-color: rgb(0, 0, 0);
  border-color: #4e555b;
}

/* Btn Branco */
.btn-branco {
  background-color: white;
  color: rgba(76, 76, 76, 0.4)
}

.btn-branco:hover {
  color: rgb(0, 0, 0)
}

/* Footer */
footer .row {
  height: 120px;
}

footer .container .row p {
  color: rgba(255, 255, 255, 0.6);
  text-align: justify;
  display: flex;
  align-items: center;
  margin-top: -30px;
  margin-right: 50px;
}

.logoFooter {
  width: 220px;
  height: 200px;
  margin-top: -40px;
  margin-left: -23px;
}

/* Footer 2 */
footer ul { 
  list-style:none; 
  padding:0; 
  margin:0;
  color: white;
  justify-content: center;
}

footer .flex-container li {
  font-size: 12px;
  padding: 0px 10px 0px 30px;
}

/* Personagem Hover */
.personagemHover {
  transition: all 0.5s;
    cursor: pointer;
}
.personagemHover:hover {
  -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

/* Setas Hover */
.setas {
  color: rgb(255, 255, 255);
}

.setas:hover {
  color: rgb(0, 0, 0);
}

/* Modal */
p {
  margin-bottom: 8px;
}

.faca-etaria {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 4px solid white;
  padding: 8px;
  margin: 0 0 0 30px;
}

/* Modal Button */
.modal button {
  opacity: 1;
}

.modal button span {
  padding: 20px 30px;
}

.modal button i {
  padding: 5px 7px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0px 0 #fff;
}

/* Modal Personagem O Irmão do Jorel */
.modal-header {
  border-bottom: 0px solid #e9ecef;
}

.modal-content {
  border-radius: 15px;
  overflow:hidden; /* corrige o problema da parte de baixo do content não pegar o border-radius */
}

.avatar-box {
  z-index: 1;
  height: 140px;
  margin-right: -90px;
}

.img-avatar { 
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.descricao-avatar { 
  z-index: 0;
  padding-left: 100px;
}

.modal-body .row {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Card Hover */
.cardHover {
  transition: all 0.5s;
    cursor: pointer;
}
.cardHover:hover {
  -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.8;
}

.flex {
	flex: 1;
}

.space-evenly {
  justify-content: space-evenly;
}

.item {
  max-width: 95px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .footer div {
  margin-bottom: 15px;
}

ul li a{
  color: white;
}


/* Apenas um Show e Clarencio */
#modal-ApenasUmShow .img-avatar,
#modal-Clarencio .img-avatar, 
#modal-personagemApenasUmShow .img-avatar { 
  border: 10px solid rgb(255, 234, 0);
}

#modal-ApenasUmShow .descricao-avatar, #modal-ApenasUmShow .faca-etaria,
#modal-Clarencio .descricao-avatar, #modal-Clarencio .faca-etaria,
#modal-personagemApenasUmShow  .descricao-avatar, #modal-personagemApenasUmShow .faca-etaria { 
  background-color:  rgb(255, 234, 0);
}

#modal-ApenasUmShow .footer div,  
#modal-Clarencio .footer div {
  border-bottom: 4px solid rgb(236, 0, 128);
}

#modal-ApenasUmShow button i,
#modal-Clarencio button i,
#modal-personagemApenasUmShow button i {
  background-color:   rgb(255, 234, 0);
}



/* Irmão do Jorel e Gumball */
#modal-IrmaoDoJorel .img-avatar,
#modal-Gumball .img-avatar, 
#modal-personagemIrmaoDoJorel .img-avatar,
#modal-personagemGumball .img-avatar { 
  border: 10px solid rgb(0, 154, 222);
}

#modal-IrmaoDoJorel .descricao-avatar, #modal-IrmaoDoJorel .faca-etaria,
#modal-Gumball .descricao-avatar, #modal-Gumball .faca-etaria,
#modal-personagemIrmaoDoJorel  .descricao-avatar, #modal-personagemIrmaoDoJorel .faca-etaria,
#modal-personagemGumball  .descricao-avatar, #modal-personagemGumball .faca-etaria { 
  background-color:  rgb(0, 154, 222);
}

#modal-IrmaoDoJorel .footer div,
#modal-Gumball .footer div {
  border-bottom: 4px solid rgb(255, 234, 0);
}

#modal-IrmaoDoJorel button i,
#modal-Gumball button i,
#modal-personagemIrmaoDoJorel button i,
#modal-personagemGumball button i {
  background-color:   rgb(0, 154, 222);
}

/* Linha de todos os modal-personagems */
#modal-personagemIrmaoDoJorel .footer .row,
#modal-Gumball  .footer .row,
#modal-HoraDeAventura  .footer .row,
#modal-Steven  .footer .row,
#modal-personagemApenasUmShow .footer .row,
#modal-personagemHoraDeAventura .footer .row,
#modal-personagemSteven .footer .row,
#modal-personagemGumball .footer .row {
  margin-bottom: 0px;
}



/* Hora de Aventura e Steven */
#modal-HoraDeAventura .img-avatar,
#modal-Steven .img-avatar, 
#modal-personagemHoraDeAventura .img-avatar, 
#modal-personagemSteven .img-avatar { 
  border: 10px solid rgb(236, 0, 128);
}

#modal-HoraDeAventura .descricao-avatar, #modal-HoraDeAventura .faca-etaria,
#modal-Steven .descricao-avatar, #modal-Steven .faca-etaria,
#modal-personagemHoraDeAventura  .descricao-avatar, #modal-personagemHoraDeAventura .faca-etaria,
#modal-personagemSteven  .descricao-avatar, #modal-personagemSteven .faca-etaria { 
  background-color:  rgb(236, 0, 128);
}

#modal-HoraDeAventura .footer div,
#modal-Steven .footer div {
  border-bottom: 4px solid rgb(0, 154, 222);
}

#modal-HoraDeAventura button i,
#modal-Steven button i,
#modal-personagemHoraDeAventura button i,
#modal-personagemSteven button i {
  background-color:   rgb(236, 0, 128);
}

